@charset "UTF-8";
p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

strong{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}