@charset "UTF-8";
*{
    height: 100%;
}

body{
    background-image: linear-gradient(240deg, #5458CF, #8841BB, #BC2EA7, #DB2A80 , #EB4752, #FEC863 96%);
    background-attachment: fixed;
}

h1{
    color: white;
    font-size: 40px;
}

p{
    color: white;
}